

body{
    margin:  30px 50px;

}

.top{
    display: flex;
    justify-content: space-around;
    gap: 60%;
}
.searchbar{
    position: absolute;
    width: 40% !important;
}
.top button{
    width: 20% !important;
}


.filterOptions{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    
}


.TableHolder{
    display: flex;
    justify-content: center;
    gap: 20%;
    margin: 100px;
}

.table-title{
    display: flex;
    gap: 40px;
}

.table1{
    width: 50%;
}
.table2{
    width: 50%;
}
.table3{
    width: 50%;
}

.table1 hr{
    background-color: red;
    height: 2px;
    width: 100%;
}
.table2 hr{
    background-color: yellow;
    height: 2px;
    width: 100%;
}
.table3 hr{
    background-color: green;
    height: 2px;
    width: 100%;
}


.cardTask{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0px 20px 20px 0px;
    border-style: solid;
    border-width: 10px;
    border-right: 30px;
    border-top: 30px;
    border-bottom: 30px;
    
}

.cardTask h1{
    margin: 20px 10px;
}
.cardTask button{
    margin: 5px 10px;
}
.cardTask p{
    margin: 0px 10px;
}

#todo{
    width: 100%;
    height: 100vh;
    
}

#doing{
    width: 100%;
    height: 100vh;
    
}
#done{
    width: 100%;
    height: 100vh;
}
.list{
    cursor: grab;
}